append head
      script(src="/js/App.js")
      link(rel='stylesheet/less', href='/stylesheets/styles.less')
      link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.18.custom.css')
      link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css')
      script(src="/js/less-1.3.0.min.js")
      script(src="/js/jquery-ui-1.8.18.custom.min.js")
      //script(src="/js/backbone.paginator.js")
      script(src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js")
      script(src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js")

body.radial-gradient
  h1.shadow Tweegle
  div.center
    input(type="text", placeholder="Please, write a word")#search
    button#add.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      span.ui-button-text Search tweets
  div#spinner
    img(src='../images/ajax-loader.gif')
  ul#tweets
  #map